{% import 'common/_globals.j2' as globals %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  {% if environment == 'development' %}
  <script src="/js/refresh.js"></script>
  {% endif %}
  {% block head scoped %}{% endblock %}
</head>
<body>
  {% block rootbody scoped %}{% endblock %}
</body>
</html>
