{% extends 'common/_base.html.j2' %}
{% block body %}
<div id="posts-directory">
  {% for template in post_templates -%}
    {%- set post = post_data[template] -%}
    {%- set date = post['date'] -%}

    {%- if cur_year != date.year -%}
      {%- if cur_year %}</ul>{% endif -%}
      {%- set cur_year = date.year -%}
      <h2>{{ cur_year }}</h2>
      <ul>
    {%- endif -%}
    <li>
      <a href="{{post['path']}}">{{post['title']}}</a>
      <span class="date">- {{ date.strftime('%B') }} {{ date.day }}</span>
    </li>
  {%- endfor -%}
  </ul>
</div>
{% endblock %}
