{% extends 'common/_base.html.j2' %}
{% block body %}
<div id="posts-directory">
{% for post in post_templates -%}
  {% set date, pretty_date, post, title, post_path = post_templates_by_name[post] -%}
  {%- if cur_year != date.year -%}
    {%- if cur_year %}</ul>{% endif -%}
    {%- set cur_year = date.year -%}
    <h2>{{ cur_year }}</h2>
    <ul>
  {%- endif -%}
  <li>
    <a href="{{post_path}}">{{title}}</a>
    <span class="date">- {{ date.strftime('%B') }} {{ date.day }}</span>
  </li>
{%- endfor -%}
    </ul>
</div>
{% endblock %}
