{% extends 'common/_post.html.j2' %}
{% block posttitle -%}
Kickoff
{%- endblock %}
{% block post %}
<p>
I'm kicking off my first website...finally. This is something that I've been
thinking about for years, but I never really got around to it.
</p>
<p>
This is going to be my public personal digital playground, starting with a blog.
Topics will be whatever I feel like, because why should I limit it? Current
thoughts are along the lines of tech, politics, personal life, opinions, etc.
</p>
<p>
Currently there is no support for commenting or any reader interaction at all.
I'll probably add something like that at a later time, but for now I'm
starting simple. While I am interested in hearing what other people say, I know
that nobody even knows this website exists, and possibly that will be how it
stays forever. Plus, I'm personally more driven by getting thoughts out of my
head rather than what others think.
</p>
{% endblock %}
