@import 'mixins';

#simulations {
  text-align: center;

  #filters {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.3rem;
    border: 1px solid #999999;

    input[type="checkbox"] {
      margin: 0;
      margin-right: 0.1rem;
      vertical-align: 15%;
    }

    label + input[type="checkbox"] {
      margin-left: 1rem;
    }

    .filter-set {
      margin-top: 0.5rem;
    }

    #filter-command {
      width: 25rem;
    }
  }

  #counts {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  table {
    @include pretty-table;
    display: inline-block;
    width: 90%;

    tr:not(:first-child):hover {
      background-color: #FFFF88;
    }

    th, td {
      padding: 0.15rem 0.5rem;
    }

    .status-Queued .status {
      color: #999999;
    }
    .status-Running .status {
      color: #0000FF;
    }
    .status-Finished .status {
      color: #00BB00;
    }
    .status-Error .status {
      color: #FF0000;
    }
    .status-Killed .status {
      color: #999999;
      text-decoration: line-through;
    }

    .status {
      min-width: 4.2rem;
    }

    .start-time, .end-time {
      min-width: 6.5rem;
    }

    td.start-time, td.end-time {
      @include monospace-font;
      font-size: 0.8rem;
      white-space: nowrap;
      letter-spacing: -1.3px;
    }

    .data {
      min-width: 8.1rem;

      .no-data {
        color: #999999;
      }

      a + a, span + span {
        padding-left: 1rem;
      }
    }

    td.command {
      @include monospace-font;
      font-size: 0.9rem;
      text-align: left;
    }

    .command {
      width: 100%;
    }
  }

}

