catjs.scoreboard = function() {
  var extractKeys = function(data) {
    var keys = Object.keys(data[0]);
    var idx = keys.indexOf("Change");

    if(idx > -1) {
      keys.splice(idx, 1)
    }

    return keys;
  };

  var makeHeader = function(keys) {
    var header = '<tr><th class="icon"></th>';

    for (var i = 0; i < keys.length; i++) {
      header += "<th>" + keys[i] + "</th>";
    }

    return header + "</tr>"
  };

  var makeTable = function(data, keys) {
    var table = "";

    for (var i = 0; i < data.length; i++) {
      table += '<tr class="change-' + data[i]["Change"] + '">';

      for(var j = 0; j < keys.length; j++) {
        var key = keys[j];
        var value = data[i][key];

        if (typeof value === "string" && value.length > 33) {
          value = value.substring(0, 32) + "&hellip;";
        }

        if (j == 0) {
          table += '<td class="icon"><span></span></td>';
        }

        table += "<td>" + value + "</td>";
      }

      table += "</tr>";
    }

    return table;
  };

  var updateTable = function(data) {
    var keys = extractKeys(data);
    var table = makeHeader(keys) + makeTable(data, keys);

    document.getElementById('scores').innerHTML = table;
  };

  var setNoData = function() {
    var table = document.getElementById('scores');
    table.innerHTML = "<tr><th>No data yet</th></tr>";
  };

  return {
    update: function() {
      var au = new catjs.Autoupdater('/cat/data/scoreboard.json', 5000,
        updateTable, setNoData);

      au.start();
    }
  };
}();

