{% extends 'common/_root.html.j2' %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/cat/css/all.css" />
  <link rel="shortcut icon" href="/cat/images/favicon.png" />
  <script type="text/javascript" src="/cat/js/all.js"></script>
  <title>The Cat is #1!!</title>
{% endblock %}

{% block rootbody %}
  <header id="page-header">
    <nav>
      <h1>The Cat is #1!!</h1>
      <h2>Visual-O-Tron</h2>

      {% for id in ["scoreboard", "simulations", "visualizer", "admin"] -%}
        {% if id==curr_page -%}
          <span class="current-page">
        {%- else -%}
          {% if id=="scoreboard" %}
            <a href="index.html">
          {% else %}
            <a href="{{id}}.html">
          {% endif %}
        {%- endif -%}
          {% filter title %}{{id}}{% endfilter %}
        {%- if id==curr_page %}</span>{% else %}</a>{% endif -%}
      {%- endfor %}
    </nav>
  </header>
  {% block body %}{% endblock %}
{% endblock %}

