@import "global";
@import "mixins";

$main-border-padding: 0.6rem;

/* Style reset */
body {
  margin: 0;
  background-color: $bg-color;
}

nav, header, footer {
  display: block;
}

img {
  border-style: none;
}
/* End style reset */


html {
  font: normal normal normal 100% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: $text-color;
}

#flex-content {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  // Margin on all children for footer separation
  > * {
    padding-bottom: 2rem;
  }
}

#nav {
  //border-right: 1px solid #BBBBBB;
  padding: 0 $main-border-padding;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2rem;
    margin: 1rem 0;

    @include mobile {
      margin: 0.7rem;
    }
  }

  .title {
    color: $palette-color;
    font-weight: bold;

    .title-second {
      font-size: 1.3em;
      font-variant: small-caps;
      color: $palette-color-darker;
    }
  }
}

#main {
  flex-grow: 1;
  padding: $main-border-padding;

  @include mobile {
    padding: 3px;
    padding-bottom: $main-border-padding;
  }
}

footer {
  font-size: 0.7rem;
  padding: $main-border-padding;
  border-top: 1px solid #BBBBBB;

  img {
    vertical-align: bottom;
  }
}
