$palette-color-lightest: #EFF3FF;
$palette-color-lighter: #679EFA;
$palette-color: #1B6FFF;
$palette-color-darker: #0052DD;
$palette-color-darkest: #002D79;

$text-color: #333333;
$bg-color: $palette-color-lightest;
$link-color: $palette-color-darker;
