$palette-color-lightest: #F5F7FC;
$palette-color-lighter: #679EFA;
$palette-color: #1B6FFF;
$palette-color-darker: #0052DD;
$palette-color-darkest: #002D79;

$text-color: #303030;
$bg-color: $palette-color-lightest;
