
html {
  font: normal normal normal 100%/100% Arial,sans-serif;
}

.title {
  color: #000000;

  .title-second {
      font-variant: small-caps;
      color: #0000FF;
  }
}

.header {
  .title {
    font-size: 4rem;
  }
}

.footer {
  .footer-separator {
  }
}
