/* Style reset */
body {
  margin: 0;
}

nav, header, footer {
  display: block;
}

img {
  border-style: none;
}
/* End style reset */


html {
  font: normal normal normal 100% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#flex-content {
  display: flex;

  // Margin on all children for footer separation
  > * {
    margin-bottom: 2rem;
  }
}

nav {
  border-right: 1px solid #BBBBBB;
  padding: 0 0.6rem;
  margin-right: 0.6rem;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 1rem 0;
  }

  .title {
    color: #1B70FF;
    font-weight: bold;

    .title-second {
      font-size: 1.3em;
      font-variant: small-caps;
      color: #5F5FFF;
    }
  }
}

footer {
  font-size: 0.7rem;
  padding: 0.5rem;
  border-top: 1px solid #BBBBBB;
}
