$post-color: #1B70FF;

.post {
  position: relative;
  border: 1px solid $post-color;
  margin: 1.5rem auto 0 auto;
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  max-width: 40rem;

  .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background: linear-gradient($post-color, rgba(255,255,255,0));
  }

  h2 {
    font-size: 1.75rem;
    margin: 0;
    padding-bottom: 0.5rem;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post-time {
    font-size: 0.7rem;
  }
}
